body {

	background: #eee;
}

h1 {

	text-decoration: underline;
	color: deeppink;
	font-weight: bold;
}

.navbar {
	text-align: center;
	border-bottom: solid deeppink 1px;
}
.navbar li {

	display: inline-block;
	padding: 0.5em 1em;
}

.navbar a:hover {

	color: deeppink;
}
